<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="../../../styles.css" rel="styles">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
<body id="centered-items">
  <div class="register-container">
    <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()"  >
      <h3>REGISTRO DE USUARIOS</h3>

      <label for="Apellido">Nombre</label>
      <input name="Apellido" formControlName="apellido">

      <label for="Nombre">Apellido</label>
      <input name="Nombre" formControlName="nombre">

      <label for="Email">Email</label>
      <input type="email" name="Email" formControlName="email">

      <label>Contraseña</label>
      <input type="password" formControlName="password">

      <label>Rol</label>
      <select formControlName="idRol">
        <option value="">Escoje un rol</option>
        <option value=1>Cliente</option>
        <option value=2>Ejecutivo</option>
        <option value=3>Administrador</option>
      </select>

      <label>Empresa</label>
      <select formControlName="idEmpresa">
        <option value="">Selecciona una</option>
        <!-- <option value="">No aplica</option>
        <option value=1>Supermaxi</option>
        <option value=2>Fybveca</option> -->
        <option *ngFor="let option of optionsList" [value]="option.idEmpresa">{{option.nombre}}</option>
      </select>
      <button type="submit">Registrar</button>
    </form>

  </div>
</body>