<body>
    
<div class="form-container">

    <form>
        <h1>REGISTRO DE USUARIOS</h1>
        <label>Email:</label>
        <input type="email" name="email">
    
        <label>Contraseña:</label>
        <input type="password"name="password">
    
        <label>Tipo</label>
        <select name="" id="">
            <option value="">OPCION 1</option>
            <option value="">OPCION 2</option>
            <option value="">OPCION 3</option>
            <option value="">OPCION 4</option>
        </select>
        <button type="submit">Registrar</button>
        <img src="assets/imgs/acme_logo.png" alt="logo_icon" width="300" height="300" loading="lazy">
    
    </form>
    
    

</div>

</body>