<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
  <h1>APLICACIONES</h1>
  <div class="flex-row">
    <div class="date-input-container">
      <label for="start-date">Fecha Inicio:</label>
      <input class="styled-input" type="date" id="start-date" [(ngModel)]="startDate" >
    </div>
    <div class="date-input-container">
      <label for="end-date">Fecha Fin:</label>
      <input class="styled-input" type="date" id="end-date" [(ngModel)]="endDate" >
    </div>
    <button type="submit" (click)="filterByDate()">Buscar</button>
    <button type="submit" (click)="getData()" style="background-color: #cbcb41;">Todas</button>
  </div>
  <div class="table-responsive">
    <table class="table  table-hover">
      <thead class="thead-light">
        <tr>
          <th>N°</th>
          <th>Fecha</th>
          <th>MontoCompra</th>
          <th>Descripcion</th>
          <th>Fecha Embarque</th>
          <th>Fecha Llegada</th>
          <th>Valor Prima</th>
          <th *ngIf="auth.user.rol === 'Ejecutivo'" >Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of myDataArray | filter:searchText: 'noApli'">
          <td>{{item.numeroAplicacion}}</td>
          <td>{{item.fecha  | date : 'dd/MM/yyyy'}}</td>
          <td>{{item.montoCompra + '' }}</td>
          <td>{{item.descripcion}}</td>
          <td>{{item.fechaEmbarque  | date : 'dd/MM/yyyy'}}</td>
          <td>{{item.fechaLlegada  | date : 'dd/MM/yyyy'}}</td>
          <td>{{item.valorPrima + ''}}</td>
          <td *ngIf="auth.user.rol === 'Ejecutivo'">
            <button class="btn btn-outline-primary" style="margin-right:2%;">Aprobar</button>
            <button class="btn btn-outline-danger">Anular</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>