body{
    background-image: url(https://drive.google.com/uc?export=view&id=105dr0CV0IXA2XSqHpOVkocmBMEt-v203);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}