
<body>
    
<div class="form-container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <h1>LOG IN</h1>
        <label htmlFor="username">Usuario</label>
        <input  formControlName="Email" name="username" type="email"/>
        <label htmlFor="password">Contraseña</label>
        <input formControlName="Password" name="password" type="password" />
        <label htmlFor="moneda">Moneda</label>
        <select formControlName="currency" name="currency"> 
            <option value="">Selecciona una opción</option>
            <option value="ARS">ARS</option>
            <option value="BRL">BRL</option>
            <option value="CLP">CLP</option>
            <option value="COP">COP</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
        <input type="submit" value="Log In"/>
    </form>
    <hr class='vertical-line'/>
    <img class="img-container" src="assets/imgs/acme_logo.png" alt="logo_icon" width="50%" height="auto" loading="lazy">
    <!-- <img src={logo} alt='logo_icon' width={300} height={300} priority/> -->
</div>
</body>