<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 
  <div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <a class="navbar-brand" href="#">
        <img src="assets/imgs/acme_logo.png" alt="logo_icon" width="60" height="60" loading="lazy">
      </a>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="#">Inicio</a>
    <a href="form">Generar Aplicaciones</a>
    <a href="buscar">Buscar Aplicaciones</a>
    <a href="registro">Registrar Usuarios</a>
    
  </div>
</div>
  

<div class="form-app">
    <header>
        <h1>GENERAR APLICACIONES</h1>
    </header>
    <form class="form" (ngSubmit)="onSubmit(formData)" #formData="ngForm">
        <div class="header-info">
            <h4>N° Póliza</h4>
        </div>
        <div>
            <h4>N°</h4>
            <input id="noApli" name="noApli" ngModel required/>
        </div>
        <div>
            <h4>Fecha Apl</h4>
            <input type="date" id="FechaApli" name="FechaApli" ngModel required/>
        </div>
            <div>
                <label htmlFor="AseguradoApli">ASEGURADO</label>
                <select id="AseguradoApli" name="AseguradoApli" ngModel required>
                    <option disabled selected>SELECCIONE</option>
                    <option value="1">ASEGURADO 1</option>
                    <option value="2">ASEGURADO 2</option>
                    <option value="3">ASEGURADO 3</option>
                    <option value="3">ASEGURADO 4</option>
                    <option value="3">ASEGURADO 5</option>
                </select>
            </div>
            <div>
                <label htmlFor="EmbarcadoPorApli">EMBARGADOR POR</label>
                <input id="EmbarcadoPorApli" name="EmbarcadoPorApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="BultosApli">BULTOS</label>
                <input type="number" id="BultosApli" name="BultosApli" ngModel required/>
            </div> 
            <div>
                <label htmlFor="pagadorApli">PAGADOR</label>
                <select id="PagadorApli" name="pagadorApli" ngModel required>
                    <option disabled selected>SELECCIONE</option>
                    <option value="1">PAGADOR 1</option>
                    <option value="2">PAGADOR 2</option>
                    <option value="3">PAGADOR 3</option>
                    <option value="3">PAGADOR 4</option>
                    <option value="3">PAGADOR 5</option>
                </select>
            </div>
            <div>
                <label htmlFor="NotaPedidoApli">NOTA DE PEDIDO</label>
                <input id="NotaPedidoApli" name="NotaPedidoApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="MontoCompraApli">MONTO TOTAL COMPRA</label>
                <input type="number" id="MontoCompraApli" name="MontoCompraApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="DesdeApli">DESDE</label>
                <input id="DesdeApli" name="DesdeApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="OrdenCompraApli">ORDEN DE COMPRA</label>
                <input id="OrdenCompraApli" name="OrdenCompraApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="GastosJustificadosApli">% OTROS GASTOS JUSTIFICADOS</label>
                <input type="number" id="GastosJustificadosApli" name="GastosJustificadosApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="HastaApli">HASTA</label>
                <input id="HastaApli" name="HastaApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="AfianzadorAduanaApli">AFIANZADOR DE ADUANA</label>
                <input id="AfianzadorAduanaApli" name="AfianzadorAduanaApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="SumaAseguradaApli">SUMA ASEGURADA</label>
                <input type="number" id="SumaAseguradaApli" name="SumaAseguradaApli" placeholder="SUMA ASEGURADA" ngModel required/>
            </div>
            <div>
                <label htmlFor="TipoTransporApli">TIPO TRANSPORTE</label>
                <select  id="TipoTransporApli" name="TipoTransporApli" ngModel required>
                    <option disabled selected>SELECCIONE</option>
                    <option value="1">TRANSPORTE 1</option>
                    <option value="2">TRANSPORTE 2</option>
                    <option value="3">TRANSPORTE 3</option>
                </select>
            </div>
            <div>
                <label htmlFor="IncotermsApli">INCOTERMS</label>
                <input id="IncotermsApli" name="IncotermsApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="TasaApli">TASA</label>
                <input type="number" id="TasaApli" name="TasaApli" placeholder="%" ngModel required/>
            </div>
            <div>
                <label htmlFor="PertenecienteApli">PERTENECIENTE</label>
                <input id="PertenecienteApli" name="PertenecienteApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="ItemsApli">ITEMS</label>
                <select  id="ItemsApli" name="ItemsApli" ngModel required>
                    <option disabled selected>SELECCIONE</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div>
                <label htmlFor="ValorPrimaApli">VALOR PRIMA</label>
                <input type="number" id="ValorPrimaApli" name="ValorPrimaApli" placeholder="VALOR PRIMA" ngModel required/>
            </div>
            <div>
                <label htmlFor="FechaEmbarqueApli">FECHA EMBARQUE</label>
                <input type="date" id="FechaEmbarqueApli" name="FechaEmbarqueApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="Marca">MARCA</label>
                <input id="Marca" name="Marca" ngModel required/>
            </div>
            <div>
                <label htmlFor="CoberturaApli">COBERTURA</label>
                <input id="CoberturaApli" name="CoberturaApli" placeholder="TODO RIESGO" ngModel required/>
            </div>
            <div>
                <label htmlFor="ConsiganadaApli">CONSIGNADA A</label>
                <input id="ConsiganadaApli" name="ConsiganadaApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="NOApli">NO°</label>
                <input type="number" id="NOApli" name="NOApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="DeducibleApli">DEDUCIBLE</label>
                <input type="number" id="DeducibleApli" name="DeducibleApli" placeholder="10%" ngModel required/>
            </div>
            <div>
                <label htmlFor="FechaLlegadaApli">FECHA LLEGADA</label>
                <input type="date" id="FechaLlegadaApli" name="FechaLlegadaApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="PesoBrutoApli">PESO BRUTO</label>
                <input type="number" id="PesoBrutoApli" name="PesoBrutoApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="ObjetoSeguroApli">OBJETO DEL SEGURO</label>
                <input id="ObjetoSeguroApli" name="ObjetoSeguroApli" ngModel required/>
            </div>
            <div>
                <label htmlFor="DescripcionApli">DESCRIPCIÓN CONTENIDO</label>
                <input id="DescripcionApli" name="DescripcionApli" class="descripcion" ngModel required/>
            </div>
            <div>
                <label htmlFor="ObservacionesApli">OBSERVACIONES</label>
                <input id="ObservacionesApli" name="ObservacionesApli" class="observaciones" ngModel required/>
            </div>
            <pre></pre>
            
            <button class="guardar" type="submit">GUARDAR</button>
            
            
    </form>
    
</div>