header {
  margin-top: 0%;
  background-color: #4875f1;
  color: white;
  text-align: center;
  /*background-image: url(https://drive.google.com/uc?export=view&id=105dr0CV0IXA2XSqHpOVkocmBMEt-v203);*/
}

.form-app {
  background-color: white;
}

.header-info {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-left: 4%;
  font-size: 20px;
}

.aplicacion-form{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Inter', sans-serif;
  text-align: left;
  font-size: 16px;
}

option {
  opacity: 40%;
}

input::placeholder {
  opacity: 40%;
}

input,select,textarea{
  border: 1px solid #2666ab;
  color: black;
  border-radius: 15px;
  font-size: large;
  padding: 10px;
  margin-top: 2%;
  text-align: left;
}



button {
  background-color: #2169e7;
  font-weight: bold;
  color: white;
  padding: 12px 20px;
  width: 50%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: end;
  margin-top: 5%;
}

/* .row {
  display: flex;
  flex-direction: row;
  width: 100%;
} */

label {
  margin-bottom: 0;
  margin-top: 15PX;
  font-weight: bold;
  padding-left: 5px;
}

button {
  display: block;
  color: white;
}

textarea{
  resize:both;
  margin-top: 1%;
}
body {
  margin: 3% 10%;
}

@media (max-width:768px) {
  label,input, .fixed-label{
    font-size: x-small;
  }

  body {
    margin: 5% 3%;
  }

  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: #4875f1;
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #4875f1;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    /* height: calc(100vh - 50px);*/
    height: 300px;
    overflow-y: auto;
  }
}

