<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<body style="background-color: blue;">
    <div class="form-app">
        <h1 style="align-self: center;">Generar Aplicaciones</h1>
        <h4>N° Póliza 456</h4>
        <form class="Aplicacion-form" (ngSubmit)="onSubmit(formData)" #formData="ngForm">
            <div>
                <label>N°</label><br />
                <input id="no" name="numeroAplicacion" ngModel required />
            </div>
            <div>
                <label style="margin-top:10px;">Fecha cación</label><br/>
                <input type="date" id="Fecha" name="Fecha" ngModel required />
            </div>

            <div class="v-i-container-f">
                <label htmlFor="Asegurado">Asegurado</label>
                <select id="Asegurado" name="Asegurado" ngModel required>
                    <option disabled selected>SELECCIONE</option>
                    <option value="Vortex Solutions">Vortex Solutions</option>
                    <option value="Moonlight Enterprise">Moonlight Enterprise</option>
                    <option value="Horizon Technologies">Horizon Technologies</option>
                    <option value="Luminous Innovations">Luminous Innovations</option>
                </select>
            </div>
            <div class="v-i-container-f">
                <label htmlFor="pagador">Pagador</label>
                <select id="Pagador" name="pagador" ngModel required>
                    <option disabled selected>Seleccione</option>
                    <option value="Vortex Solutions">Vortex Solutions</option>
                    <option value="Moonlight Enterprise">Moonlight Enterprise</option>
                    <option value="Horizon Technologies">Horizon Technologies</option>
                    <option value="Luminous Innovations">Luminous Innovations</option>
                </select>
            </div>
            <div class="v-input-container">
                <label htmlFor="Desde">Desde</label>
                <input id="Desde" name="Desde" ngModel required />
            </div>
            <div class="v-input-container">
                <label htmlFor="Hasta">Hasta</label>
                <input id="Hasta" name="Hasta" ngModel required />
            </div>
            <div class="v-i-container-f">
                <label htmlFor="TipoTransporte">Tipo Transporte</label>
                <select id="TipoTransporte" name="TipoTransporte" ngModel required>
                    <option disabled selected>SELECCIONE</option>
                    <option value="1">ÁREO</option>
                    <option value="2">MARITIMO</option>
                    <option value="3">TERRESTRE</option>
                </select>
            </div>
            <div class="v-input-container">
                <label htmlFor="Perteneciente">Perteneciente a</label>
                <input id="Perteneciente" name="Perteneciente" ngModel required />
            </div>
            <div class="v-input-container">
                <label htmlFor="FechaEmbarque">Fecha de embarque</label>
                <input type="date" id="FechaEmbarque" name="FechaEmbarque" ngModel required />
            </div>
            <div class="v-input-container">
                <label htmlFor="Consignada">Consignada a</label>
                <input id="Consignada" name="Consignada" ngModel required />
            </div>
            <div class="v-input-container">
                <label htmlFor="FechaLlegada">Fecha de llegada</label>
                <input type="date" id="FechaLlegada" name="FechaLlegada" ngModel required />
            </div>
            <div class="v-i-container-f">
                <label htmlFor="EmbarcadoPor">Embarcado por</label>
                <input id="EmbarcadoPor" name="EmbarcadoPor" ngModel required />
            </div>

            <div class="v-input-container">
                <label htmlFor="NotaPedido">Nota de pedido</label>
                <input id="NotaPedido" name="NotaPedido" ngModel required />
            </div>

            <div class="v-input-container">
                <label htmlFor="Incoterms">Incoterms</label>
                <!-- <input id="Incoterms" name="Incoterms" ngModel required /> -->
                <select id="Incoterms" name="Incoterms" ngModel required>
                    <option disabled selected>SELECCIONE</option>
                    <option value="E">GRUPO E</option>
                    <option value="F">GRUPO F</option>
                    <option value="C">GRUPO C</option>
                    <option value="D">GRUPO D</option>
                </select>
            </div>

            <div class="v-i-container-f">
                <label htmlFor="OrdenCompra">Orden de compra</label>
                <input id="OrdenCompra" name="OrdenCompra" ngModel required />
            </div>
            <div class="v-i-container-f">
                <label htmlFor="AfianzadorAduana">Afianzador de aduana</label>
                <input id="AfianzadorAduana" name="AfianzadorAduana" ngModel required />
            </div>

            <div class="v-i-container-f">
                <label htmlFor="Items">Items</label>
                <select id="Items" name="Items" ngModel required>
                    <option disabled selected>Seleccione</option>
                    <option value="Juguetes">Juguetes</option>
                    <option value="Comida">Comida</option>
                    <option value="Ropa">Ropa</option>
                </select>
            </div>

            <div class="v-input-container">
                <label htmlFor="Marca">Marca</label>
                <input id="Marca" name="Marca" ngModel required />
            </div>
            <div class="v-input-container">
                <label htmlFor="no">N°</label>
                <input id="no" name="no" ngModel required />
            </div>
            <div class="v-input-container">
                <label htmlFor="PesoBruto">Peso bruto</label>
                <input type="number" id="PesoBruto" name="PesoBruto" ngModel required />
            </div>
            <div class="v-input-container">
                <label htmlFor="Bultos">Bultos</label>
                <input type="number" id="Bultos" name="Bultos" ngModel required />
            </div>

            <div class="v-input-container">
                <label htmlFor="MontoCompra">Monto total de compra</label>
                <input type="number" id="MontoCompra" name="MontoCompra" ngModel required />
            </div>


            <div class="v-input-container">
                <label class="fixed-label" htmlFor="GastosJustificados">% Otros gastos justificados</label>
                <input type="number" id="GastosJustificados" name="GastosJustificados" ngModel required />
            </div>


            <div class="v-input-container">
                <label htmlFor="SumaAsegurada">Suma asegurada</label>
                <input type="number" id="SumaAsegurada" name="SumaAsegurada" placeholder="SUMA ASEGURADA"
                    ngModel required />
            </div>

            <div class="v-input-container">
                <label htmlFor="ValorPrima">Valor prima</label>
                <input type="number" id="ValorPrima" name="ValorPrima" placeholder="VALOR PRIMA" ngModel
                    required />
            </div>

            <div class="v-i-container-f">
                <label htmlFor="Tasa">Tasa</label>
                <input id="Tasa" name="Tasa" placeholder="%" ngModel required />
            </div>

            <div class="v-i-container-f">
                <label htmlFor="Descripcion">Descripción contenido</label>
                <textarea id="Descripcion" name="Descripcion" rows="4" ngModel required></textarea>
            </div>
            <div class="v-i-container-f">
                <label htmlFor="Observaciones">Observaciones</label>
                <textarea id="Observaciones" name="Observaciones" rows="4" ngModel required></textarea>
            </div>

            <div class="v-input-container">
                <label htmlFor="Cobertura">Cobertura</label>
                <input id="Cobertura" name="Cobertura" placeholder="TODO RIESGO" ngModel required />
            </div>

            <div class="v-input-container">
                <label htmlFor="Deducible">Deducible</label>
                <input id="Deducible" name="Deducible" placeholder="10%" ngModel required />
            </div>
            <div class="v-i-container-f">
                <label htmlFor="ObjetoSeguro">Objeto del seguro</label>
                <input id="ObjetoSeguro" name="ObjetoSeguro" ngModel required />
            </div>

            <button type="submit">Guardar</button>


        </form>

    </div>
</body>